@media screen and (max-width: 4000px) {
  .personalLeft {
    width: 65%;
  }
  .personalRight {
    width: 30%;
  }
  .personal {
    width: 75% !important;
  }
}
@media screen and (max-width: 1270px) {
  .personalLeft {
    width: 65%;
  }
  .personalRight {
    width: 30%;
  }
  .personal {
    width: auto !important;
  }
}

@media screen and (max-width: 744px) {
  .personalLeft {
    width: 100%;
  }
  .personalRight {
    display: none;
  }
}
