
#labelPrivacy {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 35px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#labelPrivacy:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + #labelPrivacy {
  background: black;
  .iconCheck {
    z-index: 1;
    transform: translatex(2%);
  }
}

input:checked + #labelPrivacy:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.iconCheck {
  position: absolute;
  z-index: -1;
  width: 70px;
  height: 65px;
  top: 10px;
  left: 35px;
  transition: all 0.01s linear;
  /* transition: all 0.5s linear; */
  color: black !important;
}
#labelPrivacy:active:after {
  width: 25px;
}

/* centering */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
/*  */
.payBtn {
  color: #717171 !important;
  background-color: white !important;
  border-bottom: transparent 2px solid !important;
  border-radius: 0 !important;
  padding: 0% !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .payBtn {
  color: black !important;
  background-color: white !important;
  border-bottom: black 2px solid !important;
}

.improveBtn {
  background-color: #008489 !important;
}

.payTitles {
  padding: 5px;
}

.payTitles:hover {
  /* color: black; */
  background-color: #f7f7f7;
}

.payLink {
  color: #008489 !important;
}

.payLink:hover {
  color: #008489 !important;

  text-decoration: underline !important;
}
.payRightpay {
  height: fit-content !important;
}

@media screen and (max-width: 4000px) {
  .payLeft {
    width: 65%;
  }
  .payRight {
    width: 30%;
  }
  .Privacy and sharing {
    width: 75% !important;
  }
}
@media screen and (max-width: 1270px) {
  .payLeft {
    width: 65%;
  }
  .payRight {
    width: 30%;
  }
  .Privacy and sharing {
    width: auto !important;
  }
}

@media screen and (max-width: 744px) {
  .titles {
    display: none;
  }
  .sharing {
    display: none;
  }
  .paybox {
    display: flex;
    flex-direction: column !important;
  }
  .payLeft {
    width: 100%;
    /* border-bottom: 0px !important; */
  }
  .payRight {
    width: 100%;
  }
}
