<div class="container mt-4">
  <h1>User Management</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="activeUsers = 'active'">
      <a class="nav-link" [class.active]="activeUsers === 'active'"
        >All Users</a
      >
    </li>

    <li class="nav-item" (click)="activeUsers = 'hosts'">
      <a class="nav-link" [class.active]="activeUsers === 'hosts'">Hosts</a>
    </li>

    <li class="nav-item" (click)="activeUsers = 'deactivated'">
      <a class="nav-link" [class.active]="activeUsers === 'deactivated'"
        >Deactivated Users</a
      >
    </li>
  </ul>
  <div class="tab-content mt-3">
    <div *ngIf="activeUsers == 'active'">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let user of users"
        >
          <ng-container *ngIf="user.role === 'user'">
            <div class="d-flex flex-column">
              <h5 class="mb-1">{{ user.name }}</h5>
              <p class="mb-1">Email: {{ user.email }}</p>
              <p class="mb-1">Role: {{ user.role }}</p>
            </div>
            <div>
              <button
                type="button"
                class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                (click)="makeHost(user._id!)"
              >
                Make Host ⚙️
              </button>
              <button
                type="button"
                class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                (click)="deactivateUser(user._id!)"
              >
                Deactivate 🔒
              </button>

              <button
                type="button"
                class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                (click)="deleteUser(user._id!)"
              >
                Delete
              </button>
            </div>
          </ng-container>
        </li>
      </ul>
    </div>
    <div *ngIf="activeUsers == 'deactivated'">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let user of deactivatedUsers"
        >
          <div class="d-flex flex-column">
            <h5 class="mb-1">{{ user.name }}</h5>
            <p class="mb-1">Email: {{ user.email }}</p>
            <p class="mb-1">Role: {{ user.role }}</p>
          </div>
          <div>
            <button
              type="button"
              class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              (click)="activateUser(user._id!)"
            >
              Activate 🔐
            </button>

            <button
              type="button"
              class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              (click)="deleteUser(user._id!)"
            >
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="activeUsers === 'hosts'">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let user of hosts"
        >
          <div class="d-flex flex-column">
            <h5 class="mb-1">{{ user.name }}</h5>
            <p class="mb-1">Email: {{ user.email }}</p>
            <p class="mb-1">Role: {{ user.role }}</p>
          </div>
          <div>
            <button
              type="button"
              class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              (click)="deleteHost(user._id!)"
            >
              Deactivate Host🔒
            </button>

            <button
              type="button"
              class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              (click)="deleteUser(user._id!)"
            >
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
