.logoutbtn:hover {
  background-color: rgb(241, 241, 241) !important;
}

.box {
  cursor: pointer;
}

.showProfile {
  cursor: pointer;
}

.place {
  cursor: pointer;
}

.language {
  cursor: pointer;
}

.language:hover {
  text-decoration: underline;
}

.payment {
  cursor: pointer;
}

.payment:hover {
  text-decoration: underline;
}

.togglecheck {
  cursor: pointer;
}

@media screen and (max-width: 5000px) {
  .box {
    width: 30%;
  }
  .account {
    padding-top: 0 !important;
    padding-left: 250px !important;
    padding: 180px;
  }
  .accountSmall {
    display: none;
  }
}

@media screen and (max-width: 1129px) {
  .box {
    width: 46%;
  }
  .account {
    padding-top: 0 !important;
    padding-left: 200px !important;
    padding: 150px;
  }
  .boxes {
    display: flex;
    justify-content: center;
  }
  .accountSmall {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 46%;
  }
  .account {
    padding-top: 0 !important;
    padding-left: 150px !important;
    padding: 100px;
  }
  .boxes {
    display: flex;
    justify-content: center;
  }
  .accountSmall {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .account {
    display: none;
  }
  .accountSmall {
    display: flex;
    flex-direction: column;
  }
}
